<h1>Edit Todo</h1>


<form action="/todo/<%=@todo.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label>Doable: </label>
  <input type="text" name="name" value="<%=@todo.name%>">
  <input type="submit">
</form>

