<head>
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/bootstrap-responsive.css" rel="stylesheet">
  <style>
  body {background-color: coral;}
  </style>
  <a href="/" style="font-size:150
  %;">TOo DOable</a>
</head>
<br>
<body style="color:lavender">
  <% if current_user%>
    <a href="/todos">Doables</a> | <a href="/todos/new">New Doable</a> | <a href="/logout">Log Out</a> | <a href="/users">Users</a>
    <%else %>
    <a href="/login">Login</a> | <a href="/signup">Signup</a>
    <%end%>
  <%=yield%>
</body>